body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f5;
}
.container {
  width: 80%;
    overflow: hidden;

  /* padding: 20px; */
  /* background-image: url("https://images.unsplash.com/photo-1636955792912-de44a3ba46cd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
    background-size: cover;
    background-position: center; */
    height: 100vh;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;

}
.nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}
